<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cat.dao.user.UserMapper">

	<!-- ————————————————————————————————resultMap区————————————————————————————  -->
	
	<!--——————————————————————————————————增 ———————————————————————————————————————————————— -->

	<!--——————————————————————————————————删 ———————————————————————————————————————————————— -->
	<delete id="truncateAllTables">
		TRUNCATE TABLE product;
		TRUNCATE TABLE order_detail;
		TRUNCATE TABLE tmall_order;
		TRUNCATE TABLE alipay_order;
	</delete>
	<!--——————————————————————————————————改 ———————————————————————————————————————————————— -->

	
	<!--——————————————————————————————————查 ———————————————————————————————————————————————— -->



	<!-- ————————————————————————————————cache配置————————————————————————————  -->
	<cache eviction="FIFO" flushInterval="60000" size="512"  readOnly="true"/>

    <select id="findUser" resultType="cn.cat.pojo.User">
		SELECT * FROM user WHERE userCode = #{userCode} and passWord = #{passWord}
	</select>


</mapper>