<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cat.dao.order_detail.OrderDetailMapper">

	<!-- ————————————————————————————————resultMap区————————————————————————————  -->
	
	<!--——————————————————————————————————增 ———————————————————————————————————————————————— -->

	<!--——————————————————————————————————删 ———————————————————————————————————————————————— -->

	<!--——————————————————————————————————改 ———————————————————————————————————————————————— -->

	
	<!--——————————————————————————————————查 ———————————————————————————————————————————————— -->



	<!-- ————————————————————————————————cache配置————————————————————————————  -->
	<cache eviction="FIFO" flushInterval="60000" size="512"  readOnly="true"/>
    <insert id="addOrderDetail">
		REPLACE  INTO  order_detail (orderCode, title, price, quantity, productCode, orderStatus) VALUES
			(#{orderCode}, #{title}, #{price}, #{quantity}, #{productCode}, #{orderStatus})
	</insert>


</mapper>