<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cat.dao.tmall_order.TmallOrderMapper">

    <!-- ————————————————————————————————resultMap区————————————————————————————  -->

    <!--——————————————————————————————————增 ———————————————————————————————————————————————— -->

    <!--——————————————————————————————————删 ———————————————————————————————————————————————— -->

    <!--——————————————————————————————————改 ———————————————————————————————————————————————— -->


    <!--——————————————————————————————————查 ———————————————————————————————————————————————— -->


    <!-- ————————————————————————————————cache配置————————————————————————————  -->
    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>
    <insert id="addTmallOrder">
        REPLACE INTO tmall_order (orderCode, totalAmount, actualAmount, buildTime, payTime,
                                  totalCount, closeReason, refundAmount, confirmTime, alreadyPayAmount)
        VALUES (#{orderCode}, #{totalAmount}, #{actualAmount}, #{buildTime}, #{payTime}, #{totalCount},
                #{closeReason}, #{refundAmount}, #{confirmTime}, #{alreadyPayAmount})
    </insert>
    <select id="countCostForMonth" resultType="java.lang.Double">
        SELECT
            SUM(
                    temp1.`quantity` * temp1.costPrice
            ) AS totalCost
        FROM
            (SELECT
                 temp.*,
                 `product`.`productCode` AS proproductcode,
                 `product`.`costPrice`
             FROM
                 (SELECT
                      `tmall_order`.`orderCode` AS tmallordercode,
                      `tmall_order`.`buildTime`,
                      `tmall_order`.`payTime`,
                      `order_detail`.`orderCode` AS detailordercode,
                      `order_detail`.`quantity`,
                      `order_detail`.`productCode` AS detailproductcode
                  FROM
                      `tmall_order`
                      LEFT OUTER JOIN `order_detail`
                          ON `tmall_order`.`orderCode` = `order_detail`.`orderCode`
                  UNION
                  SELECT
                      `tmall_order`.`orderCode` AS tmallordercode,
                      `tmall_order`.`buildTime`,
                      `tmall_order`.`payTime`,
                      `order_detail`.`orderCode` AS detailordercode,
                      `order_detail`.`quantity`,
                      `order_detail`.`productCode` AS detailproductcode
                  FROM
                      `tmall_order`
                      RIGHT OUTER JOIN `order_detail`
                          ON `tmall_order`.`orderCode` = `order_detail`.`orderCode`) AS temp
                 LEFT OUTER JOIN `product`
                     ON temp.detailproductcode LIKE CONCAT(`product`.`productCode`,'%') ) AS temp1
        WHERE temp1.tmallordercode IS NOT NULL
              AND buildTime IS NOT NULL
              AND payTime IS NOT NULL
              AND detailordercode IS NOT NULL
              AND quantity IS NOT NULL
              AND detailproductcode IS NOT NULL
              AND proproductcode IS NOT NULL
              AND costprice IS NOT NULL
              AND payTime LIKE CONCAT(#{chooseMonth},'%');


    </select>
    <select id="showMergeResult" resultType="TmallResult">
        SELECT
            *
        FROM
            (SELECT
                 temp.*,
                 `product`.`productCode` AS proproductcode,
                 `product`.`costPrice`
             FROM
                 (SELECT
                      `tmall_order`.`orderCode` AS tmallordercode,
                      `tmall_order`.`buildTime`,
                      `tmall_order`.`payTime`,
                      `order_detail`.`orderCode` AS detailordercode,
                      `order_detail`.`quantity`,
                      `order_detail`.`productCode` AS detailproductcode
                  FROM
                      `tmall_order`
                      LEFT OUTER JOIN `order_detail`
                          ON `tmall_order`.`orderCode` = `order_detail`.`orderCode`
                  UNION
                  SELECT
                      `tmall_order`.`orderCode` AS tmallordercode,
                      `tmall_order`.`buildTime`,
                      `tmall_order`.`payTime`,
                      `order_detail`.`orderCode` AS detailordercode,
                      `order_detail`.`quantity`,
                      `order_detail`.`productCode` AS detailproductcode
                  FROM
                      `tmall_order`
                      RIGHT OUTER JOIN `order_detail`
                          ON `tmall_order`.`orderCode` = `order_detail`.`orderCode`) AS temp
                 LEFT OUTER JOIN `product`
                     ON temp.detailproductcode LIKE CONCAT(`product`.`productCode`,'%') ) AS temp1
        WHERE payTime LIKE CONCAT(#{chooseMonth},'%');

    </select>


</mapper>