<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cat.dao.alipay_order.AlipayOrderMapper">

    <!-- ————————————————————————————————resultMap区————————————————————————————  -->

    <!--——————————————————————————————————增 ———————————————————————————————————————————————— -->

    <!--——————————————————————————————————删 ———————————————————————————————————————————————— -->

    <!--——————————————————————————————————改 ———————————————————————————————————————————————— -->


    <!--——————————————————————————————————查 ———————————————————————————————————————————————— -->


    <!-- ————————————————————————————————cache配置————————————————————————————  -->
    <cache eviction="FIFO" flushInterval="60000" size="512" readOnly="true"/>
    <insert id="addAlipayOrder">
        REPLACE INTO alipay_order (accountingCode, businessCode, orderCode, goodsName, occuredTime,
                                   revenueAmount, disbursementAmount, accountBalance)
        VALUES (#{accountingCode}, #{businessCode}, #{orderCode}, #{goodsName}, #{occuredTime},
                #{revenueAmount}, #{disbursementAmount}, #{accountBalance})
    </insert>
    <select id="countCostForMonth" resultType="java.lang.Double">

        SELECT SUM(
                       temp1.`quantity` * temp1.costPrice
               ) AS totalCost
        FROM
            (SELECT
                 temp.*,
                 `product`.`productCode` AS proproductcode,
                 `product`.`costPrice`
             FROM
                 (SELECT
                      `alipay_order`.`orderCode`   AS aliordercode,
                      `alipay_order`.`occuredTime`,
                      `order_detail`.orderStatus AS detailorderstatus,
                      `order_detail`.`orderCode`   AS detailordercode,
                      `order_detail`.`quantity`,
                      `order_detail`.`productCode` AS detailproductcode
                  FROM
                      `alipay_order`
                      LEFT OUTER JOIN `order_detail`
                          ON `alipay_order`.`orderCode` = `order_detail`.`orderCode`
                  UNION
                  SELECT
                      `alipay_order`.`orderCode`   AS aliordercode,
                      `alipay_order`.`occuredTime`,
                    `order_detail`.orderStatus AS detailorderstatus,
                      `order_detail`.`orderCode`   AS detailordercode,
                      `order_detail`.`quantity`,
                      `order_detail`.`productCode` AS detailproductcode
                  FROM
                      `alipay_order`
                      RIGHT
                      OUTER JOIN `order_detail`
                          ON `alipay_order`.`orderCode` = `order_detail`.`orderCode`) AS temp
                 LEFT OUTER JOIN `product`
                     ON temp.detailproductcode LIKE CONCAT(`product`.`productCode`,'%') ) AS temp1

        WHERE aliordercode IS NOT NULL
              AND detailorderstatus  != '交易关闭'
              AND occuredTime IS NOT NULL
              AND detailordercode IS NOT NULL
              AND quantity IS NOT NULL
              AND detailproductcode IS NOT NULL
              AND proproductcode IS NOT NULL
              AND costprice IS NOT NULL
              AND occuredTime LIKE CONCAT(#{chooseMonth}, '%')
        <if test="orderCode != null and orderCode != ''">
            AND proproductcode = #{orderCode}
        </if>

    </select>

    <select id="showMergeResult" resultType="AlipayResult">

        SELECT *
        FROM
            (SELECT
                 temp.*,
                 `product`.`productCode` AS proproductcode,
                 `product`.`costPrice`
             FROM
                 (SELECT
                      `alipay_order`.`orderCode`   AS aliordercode,
                      `alipay_order`.`occuredTime`,
                      `order_detail`.`orderCode`   AS detailordercode,
                      `order_detail`.`quantity`,
                      `order_detail`.`productCode` AS detailproductcode
                  FROM
                      `alipay_order`
                      LEFT OUTER JOIN `order_detail`
                          ON `alipay_order`.`orderCode` = `order_detail`.`orderCode`
                  UNION
                  SELECT
                      `alipay_order`.`orderCode`   AS aliordercode,
                      `alipay_order`.`occuredTime`,
                      `order_detail`.`orderCode`   AS detailordercode,
                      `order_detail`.`quantity`,
                      `order_detail`.`productCode` AS detailproductcode
                  FROM
                      `alipay_order`
                      RIGHT
                      OUTER JOIN `order_detail`
                          ON `alipay_order`.`orderCode` = `order_detail`.`orderCode`) AS temp
                 LEFT OUTER JOIN `product`
                     ON temp.detailproductcode LIKE CONCAT(`product`.`productCode`,'%') ) AS temp1

        WHERE temp1.occuredTime LIKE CONCAT(#{chooseMonth}, '%')
    </select>


</mapper>